.responsive-search {
  display: none;
}

/* Modal */

.modal-icon {
  text-align: center;
}

.modal-icon i {
  font-size: 100px;
}

.modal-text {
  text-align: center;
}

.modal-text p {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .desktop-hidden {
    display: initial;
    cursor: pointer;
  }

  .title-hidden {
    display: none;
  }

  .url-hidden {
    display: none;
  }

  .active-hidden {
    display: none;
  }

  .options-hidden {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .normal-search {
    display: none;
  }

  .responsive-search {
    display: initial;
  }

  .search {
    padding-right: 0;
  }

  .search2-col {
    height: 25px;
    display: flex;
    justify-content: center;
  }
}
