@media screen and (max-width: 1200px) {
  .title-hidden {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .url-hidden {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .active-hidden {
    display: none;
  }
}
