.user-form-header {
  height: 55px;
  background-color: #4694a6;
  display: flex;
  align-items: center;
}

.user-form-header p {
  margin: 0;
  text-transform: capitalize;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.user-form-error {
  font-size: 80%;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #f86c6b;
}
