<div *blockUI="'component'" class="animated fadeIn">
  <div class="card">
    <div class="card-header"> Loading Spinner - NG Block UI</div>
    <div class="card-body">
      <div *blockUI="'element'" class="card bg-secondary">
        <div class="card-body">
          <p>Multi</p>
          <p>Line</p>
          <p>Pre</p>
          <p>Element</p>
          <p>Loading</p>
          <p>Example</p>
        </div>
      </div>
      <button (click)="blockRoot()" class="btn btn-info mr-1 mb-1">Block Root</button>
      <button (click)="blockComponent()" class="btn btn-info mr-1 mb-1">Block Component</button>
      <button (click)="blockElement()" class="btn btn-info mr-1 mb-1">Block Element</button>
    </div>
  </div>
</div>
