<div class="animated fadeIn">
  <div class="card">
    <div class="card-header cms-menu-header">
      <div class="cms-title">
        <p>CMS Routes</p>
      </div>
      <div class="cms-menu-right">
        <div class="cms-menu-add-button">
          <button type="button" class="btn">
            <a routerLink="/menu/add" routerLinkActive="active">
              Add New
            </a>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-xl mb-3 mb-xl-0">
          <ngx-datatable
            class="bootstrap"
            [columns]="columns"
            [columnMode]="'force'"
            [rows]="rows"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10">
          </ngx-datatable>
          <ng-template #activeTemplate let-row="row" let-rowIndex="rowIndex">
            <ng-container [ngSwitch]="row.activeFlag">
              <span *ngSwitchCase="'Y'" class="badge badge-success">Active</span>
              <span *ngSwitchCase="'N'" class="badge badge-danger">Inactive</span>
            </ng-container>
          </ng-template>
          <ng-template #optionsTemplate let-row="row" let-rowIndex="rowIndex">
            <ng-container>
              <span class="menu-button main-button">
                <button [routerLink]="['/menu/view', row.id]" type="button" class="btn btn-brand btn-primary">
                  <i class="fa fa-sign-in"></i><span>View</span>
                </button>
              </span>
              <span class="menu-button main-button">
                <button [routerLink]="['/menu/edit', row.id]" type="button" class="btn btn-brand btn-warning">
                  <i class="fa fa-edit"></i><span>Edit</span>
                </button>
              </span>
              <span class="menu-button main-button">
                <a (click)="selectInactive(row)" >
                  <button type="button" class="btn btn-brand btn-danger">
                    <i class="fa fa-trash"></i><span>Delete</span>
                  </button>
                </a>
              </span>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
