<div class="animated fadeIn">
  <div class="card">
    <table-header></table-header>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-xl mb-3 mb-xl-0">
          <ngx-datatable
            class="bootstrap"
            [columns]="columns"
            [columnMode]="'force'"
            [rows]="rows"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
          >
          </ngx-datatable>
          <ng-template #activeTemplate let-row="row" let-rowIndex="rowIndex">
            <ng-container [ngSwitch]="row.activeFlag">
              <span *ngSwitchCase="'Y'" class="badge badge-success"
                >Active</span
              >
              <span *ngSwitchCase="'N'" class="badge badge-danger"
                >Inactive</span
              >
            </ng-container>
          </ng-template>
          <ng-template #titleFlagTemplate let-row="row" let-rowIndex="rowIndex">
            <ng-container [ngSwitch]="row.titleFlag">
              <span *ngSwitchCase="'Y'" class="badge badge-success">True</span>
              <span *ngSwitchCase="'N'" class="badge badge-danger">False</span>
            </ng-container>
          </ng-template>
          <ng-template #optionsTemplate let-row="row" let-rowIndex="rowIndex">
            <ng-container>
              <button
                [routerLink]="['/admin/menu', row.id]"
                type="button"
                class="btn btn-primary"
                data-toggle="tooltip"
                data-placement="bottom"
                title="View Menu"
              >
                <i class="fa fa-sign-in fa-sm"></i>
              </button>
              <button
                [routerLink]="['/admin/menu/edit', row.id]"
                type="button"
                class="btn btn-success"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Edit Menu"
              >
                <i class="fa fa-edit fa-sm"></i>
              </button>
              <button
                (click)="selectInactive(row)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Delete Menu"
                type="button"
                class="btn btn-danger"
                [disabled]="onDisabled(row.activeFlag)"
              >
                <i class="fa fa-trash fa-sm"></i>
              </button>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
