.cms-menu-header {
  background-color: #4694a6;
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
}

.cms-title p {
  margin: 0;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.cms-menu-add-button button a {
  color: white;
  text-decoration: none;
}

.menu-button {
  margin-right: 15px;
  cursor: pointer;
}
