<div class="animated fadeIn">
  <div class="card">
    <div class="card-header custom-card-header">
      <div class="custom-card-header-title">
        <p>{{ path }} Menu</p>
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="row mt-4 mr-3 ml-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <label class="col-form-label required" for="name">Name</label>
          <input [class.is-invalid]="isFieldInvalid('name')" class="form-control" formControlName="name" id="name"
                 name="name" required type="text"/>
          <div *ngIf="isFieldInvalid('name')" class="text-form-error">
            <div *ngIf="form.get('name').hasError('required')">
              Name is required
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <label class="col-form-label" for="url">Url</label>
          <input class="form-control" formControlName="url" id="url" name="url" type="text"/>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <div class="row">
            <div class="col form-group">
              <label class="col-form-label" for="url">Icon</label>
              <ng-select [items]="icons" [virtualScroll]="true" bindLabel="name" bindValue="value"
                         formControlName="icon"
                         labelForId="icon" placeholder="Select icon">
                <ng-template let-item="item" ng-label-tmp>
                  <i [class]="item.value"></i>
                  <span>{{ item.name }}</span>
                </ng-template>
                <ng-template let-index="index" let-item="item" let-search="searchTerm" ng-option-tmp>
                  <i [class]="item.value"> {{ item.name }}</i>
                  <!-- <span [ngOptionHighlight]="searchTerm">{{ item.name }}</span> -->
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label class="col-form-label" for="name">Order No</label>
              <input class="form-control" formControlName="orderNo" name="orderNo" type="number"/>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label class="col-form-label" for="parent-id">Parent Menu</label>
              <ng-select
                id="parent-id"
                (search)="onChangeParent($event)"
                (clear)="onParentClear()"
                [items]="parentMenu"
                [multiple]="false"
                [typeahead]="menuTypeahead"
                bindLabel="name"
                bindValue="id"
                formControlName="parentId"
                placeholder="Select parent"
              >
                <ng-template ng-typetosearch-tmp>
                  <div class="ng-option disabled">
                    Please type 2 or more characters
                  </div>
                </ng-template>
                <ng-template let-searchTerm="searchTerm" ng-notfound-tmp>
                  <div class="ng-option disabled">
                    No data found for "{{searchTerm}}"
                  </div>
                </ng-template>
                <ng-template let-searchTerm="searchTerm" ng-loadingtext-tmp>
                  <div class="ng-option disabled">
                    Fetching data for "{{searchTerm}}"
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <label class="col-form-label" for="textarea-input">Description</label>
          <textarea class="form-control" formControlName="description" id="textarea-input" name="textarea-input"
                    rows="9"></textarea>
        </div>
      </div>
      <div class="row mt-4 mr-3 ml-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <div class="row">
            <label class="col-md-3 col-form-label" for="active-flag">Active Flag</label>
            <div class="col-9 col-form-label">
              <label class="switch switch-label switch-pill switch-primary">
                <input class="switch-input form-control" formControlName="activeFlag" id="active-flag" type="checkbox"/>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <div class="row">
            <label class="col-md-3 col-form-label" for="email-input">Title Flag</label>
            <div class="col-9 col-form-label">
              <label class="switch switch-label switch-pill switch-primary">
                <input class="switch-input form-control" id="email-input" formControlName="titleFlag" type="checkbox"/>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="editable" class="row mt-3 mr-3 ml-3 mb-5">
        <div class="col form-group">
          <div class="form-actions submit-button mt-5">
            <button class="btn btn-sm btn-primary" type="submit">
              <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button (click)="cancelButton()" class="btn btn-sm btn-secondary cancel-buttons" type="button">
              <i class="fa fa-ban"></i>
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
    <div></div>
  </div>
</div>
