<div class="animated fadeIn">
  <div class="card">
    <div class="card-header custom-card-header">
      <div class="custom-card-header-title">
        <p>Role Menu Assignment Table</p>
      </div>
      <div class="custom-card-header-right">
        <div class="custom-card-header-add-button" *ngIf="path !== 'View'">
          <button type="button" class="btn">
            <a [routerLink]="['../add-assigned-menu']" routerLinkActive="active">
              Add New
            </a>
          </button>
        </div>
        <div class="wrap normal-search">
          <div class="search">
            <input type="text" class="searchTerm" placeholder="Search or enter assigned menu" name="search" onkeypress="return /^[-_ a-zA-Z0-9]+$/.test(event.key)" (input)="onSearchChange($event.target.value)" />
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row search-wrap responsive-search">
        <div class="col-12 responsive-search-col">
          <div class="wrap responsive-search">
            <div class="search">
              <input type="text" class="searchTerm" placeholder="Search or enter assigned menu" name="search" onkeypress="return /^[-_ a-zA-Z0-9]+$/.test(event.key)" (input)="onSearchChange($event.target.value)" />
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl mb-3 mb-xl-0">
          <ngx-datatable #roleTable class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
            [summaryRow]="true" [summaryHeight]="'auto'" [footerHeight]="50" [rowHeight]="50" [externalPaging]="true"
            [externalSorting]="true" [count]="page.totalElements" [offset]="page.pageNumber - 1" [limit]="page.size"
            (page)="getMenuByPage($event)" (sort)="onSort($event)">
            <ngx-datatable-row-detail [rowHeight]="150" #myDetailRow>
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:60px; font-size:14px">
                  <div>
                    <ng-container>
                      <span>{{ row.startDate }}</span>
                    </ng-container>
                  </div>
                  <div class="mt-2">
                    <ng-container>
                      <span>{{ row.endDate }}</span>
                    </ng-container>
                  </div>
                  <div class="mt-2">
                    <ng-container [ngSwitch]="row.activeFlag">
                      <span *ngSwitchCase="'Y'" class="badge badge-success">
                        Active
                      </span>
                      <span *ngSwitchCase="'N'" class="badge badge-danger">
                        Inactive</span>
                    </ng-container>
                  </div>
                  <div class="mt-2">
                    <button [routerLink]="['../view-assigned-menu', row.id]" type="button" class="btn btn-primary"
                      data-toggle="tooltip" data-placement="bottom" title="View Menu">
                      <i class="fa fa-sign-in fa-sm"></i>
                    </button>
                    <button [routerLink]="['../edit-assigned-menu', row.id]" type="button" class="btn btn-success"
                      data-toggle="tooltip" data-placement="bottom" title="Edit Menu">
                      <i class="fa fa-edit fa-sm"></i>
                    </button>
                    <button (click)="openDeleteModal(row)" data-toggle="tooltip" data-placement="bottom"
                      title="Delete Menu" type="button" class="btn btn-danger"
                      [disabled]="disableDeleteButton(row.activeFlag)">
                      <i class="fa fa-trash fa-sm"></i>
                    </button>
                  </div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!--  -->

            <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
              [canAutoResize]="false">
              <ng-template let-row="row" let-expanded="true" ngx-datatable-cell-template>
                <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
                  title="Expand/Collapse Row" (click)="toggleExpandRow(row)" class="desktop-hidden">
                </a>
              </ng-template>
            </ngx-datatable-column>

            <!--  -->

            <ngx-datatable-column name="Menu Name" [flexGrow]="3" [minWidth]="200">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <ng-container>
                  <span class="title-hidden">{{ row.menu.name }}</span>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>

            <!--  -->

            <ngx-datatable-column name="Start Date" [flexGrow]="3" [minWidth]="200">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <ng-container>
                  <span class="start-date-hidden">{{ row.startDate }}</span>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>

            <!--  -->

            <ngx-datatable-column name="End Date" [flexGrow]="3" [minWidth]="200">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <ng-container>
                  <span class="end-date-hidden">{{ row.endDate }}</span>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>

            <!--  -->

            <ngx-datatable-column name="Active" prop="activeFlag" [sortable]="true" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <ng-container [ngSwitch]="row.activeFlag">
                  <span *ngSwitchCase="'Y'" class="badge badge-success active-hidden">Active</span>
                  <span *ngSwitchCase="'N'" class="badge badge-danger active-hidden">Inactive</span>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>

            <!--  -->

            <ngx-datatable-column [flexGrow]="1" *ngIf="path !== 'View'">
              <ng-template ngx-datatable-header-template>
                <span class="options-hidden">Actions</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <ng-container>
                  <button [routerLink]="['../view-assigned-menu', row.id]" type="button"
                    class="btn btn-primary options-hidden" data-toggle="tooltip" data-placement="bottom"
                    title="View Menu">
                    <i class="fa fa-sign-in fa-sm"></i>
                  </button>
                  <button [routerLink]="['../edit-assigned-menu', row.id]" type="button"
                    class="btn btn-success options-hidden" data-toggle="tooltip" data-placement="bottom"
                    title="Edit Menu">
                    <i class="fa fa-edit fa-sm"></i>
                  </button>
                  <button (click)="openDeleteModal(row)" data-toggle="tooltip" data-placement="bottom"
                    title="Delete Menu" type="button" class="btn btn-danger options-hidden"
                    [disabled]="disableDeleteButton(row.activeFlag)">
                    <i class="fa fa-trash fa-sm"></i>
                  </button>
                </ng-container>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Menu</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-icon mt-3 mb-3">
          <i class="fa fa-exclamation-triangle"></i>
        </div>
        <div class="modal-text">
          <p>Do you want to inactivate this ?</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="selectInactive()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>