.table-header {
  background-color: #4694a6;
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
}

.table-header-title p {
  margin: 0;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.table-header-add-button button a {
  color: white;
  text-decoration: none;
}
