<div class="animated fadeIn">
  <div class="card">
    <div class="card-header table-header">
      <div class="table-header-title">
        <p>{{ path }} Table</p>
      </div>
      <div class="table-header-right">
        <div class="table-header-add-button">
          <button type="button" class="btn">
            <a [routerLink]="['../add']" routerLinkActive="active">
              Add New
            </a>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-xl mb-3 mb-xl-0">
          <ngx-datatable
            class="bootstrap"
            [columns]="columns"
            [columnMode]="'force'"
            [rows]="rows"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="10"
          >
          </ngx-datatable>
          <ng-template #optionsTemplate let-row="row" let-rowIndex="rowIndex">
            <ng-container>
              <span class="organization-button main-button">
                <button
                  [routerLink]="['/admin/organizations', row.id]"
                  type="button"
                  class="btn btn-brand btn-primary"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="View Organization"
                >
                  <i class="fa fa-sign-in fa-sm"></i>
                </button>
              </span>
              <span class="organization-button main-button">
                <button
                  [routerLink]="['/admin/organizations/edit', row.id]"
                  type="button"
                  class="btn btn-brand btn-success"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Edit User"
                >
                  <i class="fa fa-edit fa-sm"></i>
                </button>
              </span>
              <!-- <span class="organization-button main-button">
                  <a (click)="selectInactive(row)">
                    <button type="button" class="btn btn-brand btn-danger">
                    <i
                      class="fa fa-trash fa-lg"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Delete User"
                    ></i> -->
              <!-- </button> -->
              <!-- </a> -->
              <!-- </span> -->
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
