<div class="animated fadeIn">
  <div class="card">
    <div class="card-header-blue">
      <div class="clearfix">
        <span class="float-left font-weight-bold mt-2">
          Module Assignment Table
        </span>
        <div class="float-right">
          <div class="row no-gutters">
            <button *ngIf="editable" class="btn btn-sm btn-success" routerLink="role-module/add" type="button">
              <i class="fa fa-plus"></i>
              &nbsp;Add New
            </button>
            <div class="col d-none d-sm-block ml-2">
              <app-search-table
                (onSearch)="getRoleModule()"
                [data]="data"
                [page]="page"
                [table]="table"
              ></app-search-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row d-block d-sm-none">
        <div class="col">
          <app-search-table
            (onSearch)="getRoleModule()"
            [data]="data"
            [page]="page"
            [table]="table"
          ></app-search-table>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ngx-datatable
            #table
            (page)="getRoleModule($event.offset + 1)"
            (sort)="sortTableFn(page, $event); getRoleModule();"
            [columnMode]="ColumnMode.force"
            [count]="totalElements"
            [externalPaging]="true"
            [externalSorting]="true"
            [footerHeight]="50"
            [headerHeight]="50"
            [limit]="page.size"
            [loadingIndicator]="loadingIndicator"
            [offset]="offset"
            [rowHeight]="50"
            [rows]="rows"
            [scrollbarH]="true"
            class="material striped"
          >

            <!-- Row Detail Template -->
            <ngx-datatable-row-detail
              [rowHeight]="150"
            >
              <ng-template
                let-activeFlag="row.activeFlag"
                let-endDate="row.endDate"
                let-expanded="true"
                let-id="row.id"
                let-name="row.module.name"
                let-startDate="row.startDate"
                ngx-datatable-row-detail-template
              >
                <div style="padding-left: 60px; font-size: 14px">
                  <div class="row mt-2">
                    {{ startDate }} - {{ endDate }}
                  </div>
                  <div class="row mt-2">
                    <ng-template [ngIfElse]="falseInactive" [ngIf]="activeFlag === 'Y'">
                      <span class="badge badge-success">Active</span>
                    </ng-template>
                    <ng-template #falseInactive>
                      <span class="badge badge-danger">Inactive</span>
                    </ng-template>
                  </div>
                  <ng-container *ngIf="editable">
                    <div class="row mt-2">
                      <button
                        [routerLink]="['role-module', id]"
                        class="btn btn-primary mr-1"
                        data-placement="bottom"
                        data-toggle="tooltip"
                        title="detail"
                        type="button"
                      >
                        <i class="fa fa-eye fa-sm"></i>
                      </button>
                      <button
                        [routerLink]="['role-module', id, 'edit']"
                        class="btn btn-success mr-1"
                        data-placement="bottom"
                        data-toggle="tooltip"
                        title="edit"
                        type="button"
                      >
                        <i class="fa fa-edit fa-sm"></i>
                      </button>
                      <button
                        (confirm)="inactivateRoleModule(id)"
                        [disabled]="activeFlag === 'N'"
                        [swal]="{
                            titleText: 'Inactive Assigned Module',
                            text: 'Do you want to inactivate ' + name + '?',
                            icon: 'warning',
                            showCancelButton: true
                          }"
                        class="btn btn-danger"
                        data-placement="bottom"
                        data-toggle="tooltip"
                        title="inactivate"
                        type="button"
                      >
                        <i class="fa fa-trash fa-sm"></i>
                      </button>
                    </div>
                  </ng-container>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            <!-- Arrow Detail Templates -->
            <ngx-datatable-column
              [cellClass]="'d-sm-none'"
              [draggable]="false"
              [headerClass]="'d-sm-none'"
              [sortable]="false"
              [width]="50"
            >
              <ng-template
                let-expanded="true"
                let-row="row"
                ngx-datatable-cell-template
              >
                <a
                  (click)="table.rowDetail.toggleExpandRow(row)"
                  [class.datatable-icon-down]="expanded"
                  [class.datatable-icon-right]="!expanded"
                  title="Expand/Collapse Row"
                >
                </a>
              </ng-template>
            </ngx-datatable-column>

            <!-- Module Name -->
            <ngx-datatable-column
              [draggable]="false"
              [sortable]="true"
              name="Name"
              prop="module.name"
            >
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value | ellipsis: 15 }}
              </ng-template>
            </ngx-datatable-column>

            <!-- Start Date -->
            <ngx-datatable-column
              [cellClass]="'d-none d-md-inline'"
              [draggable]="false"
              [headerClass]="'d-none d-md-inline'"
              [sortable]="true"
              name="Start Date"
              prop="startDate"
            ></ngx-datatable-column>

            <!-- End Date -->
            <ngx-datatable-column
              [cellClass]="'d-none d-md-inline'"
              [draggable]="false"
              [headerClass]="'d-none d-md-inline'"
              [sortable]="true"
              name="End Date"
              prop="endDate"
            ></ngx-datatable-column>

            <!-- Active Flag -->
            <ngx-datatable-column
              [cellClass]="'d-none d-md-inline'"
              [draggable]="false"
              [headerClass]="'d-none d-md-inline'"
              [sortable]="true"
              name="Active"
              prop="activeFlag"
            >
              <ng-template
                let-value="value"
                ngx-datatable-cell-template
              >
                <ng-template [ngIfElse]="falseInactive" [ngIf]="value === 'Y'">
                  <span class="badge badge-success">Active</span>
                </ng-template>
                <ng-template #falseInactive>
                  <span class="badge badge-danger">Inactive</span>
                </ng-template>
              </ng-template>
            </ngx-datatable-column>

            <!-- Action -->
            <ngx-datatable-column
              *ngIf="editable"
              [cellClass]="'d-none d-md-inline'"
              [draggable]="false"
              [headerClass]="'d-none d-md-inline'"
              [sortable]="false"
              name="Action"
            >
              <ng-template
                let-activeFlag="row.activeFlag"
                let-id="row.id"
                let-name="row.module.name"
                ngx-datatable-cell-template
              >
                <button
                  [routerLink]="['role-module', id]"
                  class="btn btn-sm btn-primary"
                  data-placement="bottom"
                  data-toggle="tooltip"
                  title="detail"
                  type="button"
                >
                  <i class="fa fa-eye fa-sm"></i>
                </button>
                <button
                  [routerLink]="['role-module', id, 'edit']"
                  class="btn btn-sm btn-success"
                  data-placement="bottom"
                  data-toggle="tooltip"
                  title="edit"
                  type="button"
                >
                  <i class="fa fa-edit fa-sm"></i>
                </button>
                <button
                  (confirm)="inactivateRoleModule(id)"
                  [disabled]="activeFlag === 'N'"
                  [swal]="{
                    titleText: 'Inactive Assigned Role',
                    text: 'Do you want to inactive ' + name + '?',
                    icon: 'warning',
                    showCancelButton: true
                  }"
                  class="btn btn-sm btn-danger"
                  data-placement="bottom"
                  data-toggle="tooltip"
                  title="inactivate"
                  type="button"
                >
                  <i class="cui-lock-locked icons"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
