<div class="animated fadeIn">
  <div class="card">
    <div class="card-header organizations-form-header">
      <p>{{ path }} Organization</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mt-4 mr-3 ml-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <div class="row">
            <div class="col form-group">
              <label class="col-form-label required" for="name">Name</label>
              <input
                [class.is-invalid]="isFieldInvalid('name')"
                name="name"
                type="text"
                placeholder="Enter name"
                class="form-control"
                formControlName="name"
                [readonly]="onDisabled()"
                required
              />
              <div
                *ngIf="isFieldInvalid('name')"
                class="organizations-form-error"
              >
                <div *ngIf="form.get('name').hasError('required')">
                  Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label class="col-form-label required" for="codeName"
                >Code Name</label
              >
              <input
                [class.is-invalid]="isFieldInvalid('codeName')"
                name="codeName"
                type="text"
                placeholder="Enter code name"
                class="form-control"
                formControlName="codeName"
                [readonly]="onDisabled()"
                required
              />
              <div
                *ngIf="isFieldInvalid('codeName')"
                class="organizations-form-error"
              >
                <div *ngIf="form.get('codeName').hasError('required')">
                  Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label class="col-form-label required" for="abbriviation"
                >Abbriviation</label
              >
              <input
                [class.is-invalid]="isFieldInvalid('codeName')"
                name="abbriviation"
                type="text"
                placeholder="Enter abbriviation"
                class="form-control"
                formControlName="abbriviation"
                [readonly]="onDisabled()"
                required
              />
              <div
                *ngIf="isFieldInvalid('abbriviation')"
                class="organizations-form-error"
              >
                <div *ngIf="form.get('abbriviation').hasError('required')">
                  Abbriviation is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <label class="col-form-label" for="parentId"
                >Parent Organization</label
              >
              <ng-select
                [items]="organizationData"
                bindLabel="name"
                bindValue="id"
                class="form-control"
                clearAllText="Clear"
                labelForId="parentId"
                placeholder="Select parent organization"
                formControlName="parentId"
                (search)="onChangeParent($event)"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <label class="col-form-label" for="textarea-input">Description</label>
          <textarea
            id="textarea-input"
            name="textarea-input"
            rows="9"
            class="form-control"
            placeholder="Enter Description"
            formControlName="description"
            [readonly]="onDisabled()"
          ></textarea>
        </div>
      </div>
      <div *ngIf="path !== 'View'" class="row mt-3 mr-3 ml-3 mb-5">
        <div class="col form-group">
          <div class="form-actions submit-button mt-5">
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button
              type="button"
              class="btn btn-sm btn-secondary option-buttons"
            >
              <a [routerLink]="['../']" routerLinkActive="active">
                <i class="fa fa-ban"></i>
                Cancel
              </a>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
