.role-form-header {
  height: 55px;
  background-color: #4694a6;
  display: flex;
  align-items: center;
}

.role-form-header p {
  margin: 0;
  text-transform: capitalize;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
