<div class="animated fadeIn">
  <div class="card">
    <div class="card-header cms-form-header">
      <p>{{ path }} Menu</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mt-4 mr-3 ml-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <div class="row">
            <div class="col form-group">
              <label class="col-form-label required" for="name">Name</label>
              <input
                [class.is-invalid]="isFieldInvalid('name')"
                name="name"
                type="text"
                placeholder="Enter name"
                class="form-control"
                formControlName="name"
                [readonly]="onDisabled()"
                required
              />
              <div *ngIf="isFieldInvalid('name')" class="cms-form-error">
                <div *ngIf="form.get('name').hasError('required')">
                  Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="col-form-label" for="activeFlag">Active Flag</label>
              <div class="col-9 active-pills">
                <label class="switch switch-label switch-pill switch-primary">
                  <input
                    type="checkbox"
                    class="switch-input form-control"
                    formControlName="activeFlag"
                    checked
                  />
                  <span
                    class="switch-slider"
                    data-checked="On"
                    data-unchecked="Off"
                  ></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 form-group">
          <label class="col-form-label" for="textarea-input">Description</label>
          <textarea
            id="textarea-input"
            name="textarea-input"
            rows="9"
            class="form-control"
            placeholder="Enter Description"
            formControlName="description"
            [readonly]="onDisabled()"
          ></textarea>
        </div>
      </div>
      <div *ngIf="path !== 'View'" class="row mt-3 mr-3 ml-3 mb-5">
        <div class="col form-group">
          <div class="form-actions submit-button mt-5">
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button
              type="button"
              class="btn btn-sm btn-secondary option-buttons"
            >
              <a routerLink="/admin/roles" routerLinkActive="active">
                <i class="fa fa-ban"></i>
                Cancel
              </a>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
