/* Modal */

.modal-icon {
  text-align: center;
}

.modal-icon i {
  font-size: 100px;
}

.modal-text {
  text-align: center;
}

.modal-text p {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .desktop-hidden {
    display: initial;
    cursor: pointer;
  }

  .can-create-hidden {
    display: none;
  }

  .can-read-hidden {
    display: none;
  }

  .can-update-hidden {
    display: none;
  }

  .can-delete-hidden {
    display: none;
  }

  .options-hidden {
    display: none;
  }
}
